<ul class="nav nav-tabs" role="tablist">
{% for video in article.videos %}
    <li class="{% if loop.index == 1 %}active{% endif %}" role="presentation"><a href="#{{ video.type }}" aria-controls="{{ video.type }}" role="tab" data-toggle="tab">
        <i class="fa fa-fw fa-{{ video.icon }}"></i> {{ video.label }}
    </a></li>
{% endfor %}
</ul>

<div class="tab-content">
{% for video in article.videos %}
    <div role="tabpanel" class="tab-pane{% if loop.index == 1 %} active{% endif %}" id="{{ video.type }}">
        {% if video.tag_type == 'iframe' %}
        <div class="embed-responsive embed-responsive-16by9 videocontainer">
            <iframe class="embed-responsive-item" src="{{ video.media_url }}" title="Video for {{ video.title }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% elif video.tag_type == 'html5' %}
        <div class="embed-responsive embed-responsive-16by9 videocontainer">
            <video class="embed-responsive-item" controls>
                <source src="{{ video.media_url }}" type="video/{{ video.type }}">
            </video>
        </div>
        {% else %}
        <a class="reference external image-reference"
           href="{{ video.media_url }}">
            <img alt="{{ video.title }}"
                 src="{{ article.thumbnail_url }}">
        </a>
        {% endif %}
    </div>
{% endfor %}
</div>
