/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* Customized Styles */

ul.content-list li {
  margin-bottom: 10px;
}

div.container h2 {
  margin-bottom: 20px;
}

div.container ul {
  padding-left: 0px;
  list-style-type: none;
  font-size: 1.05em;
}

div.row ul li {
  list-style-type: none;
}

div.row ul li img {
  padding-right: 10px;
  width: 200px;
}

article img {
  border-radius: 20px;
  max-width: 100%;
}

div.entry-content img {
  border-radius: 25px;
}

article.list_item div {
  display: inline-block;
  max-width: 450px;
}

/* index.html styles */
div.index-content {
  max-width: 480px
}

div.index-content h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

div.index-content img {
  border-radius: 10px;
  margin-bottom: 20px;
}

div.index-content section.details {
  text-align: left;
}

/* Responsive video iframe based on
 * https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
 */
.videocontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.videocontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
