/**
 * blue: #2B5B84
 */
/* Space out content a bit */
body {
  padding-top: 0;
  padding-bottom: 20px;
}

a {
  color: #2B5B84;
}

/* Custom page header */
.header {
  width: 100%;
  background: #FAFAFA;
  box-sizing: border-box;
  margin-bottom: 20px;
  clear: right;
}

.header nav {
  background: #2B5B84;
  background: linear-gradient(to bottom, #2b5b84 0%,#2A677F 100%);
}

/* Custom page footer */
.footer {
  border-top: 1px solid #e5e5e5;
  color: #767676;
  margin-top: 10px;
  padding-top: 19px;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

input[type="search"] {
  margin-top: 10px;
  line-height: 2em;
  padding: 0 1em;
  border: 1px solid #767676;
  width: 80%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* Customized Styles */
ul.content-list {
  padding-left: 0;
}

.content-list .col-md-4 {
  height: 360px;
}

.content-list .col-sm-6 {
  height: 390px;
}

.language .content-list .col-md-4 {
  height: 160px;
}

.language .content-list .col-sm-6 {
  height: 160px;
}

ul.content-list li {
  margin-bottom: 10px;
}

div.container h2 {
  margin-bottom: 20px;
}

div.container ul {
  font-size: 1.05em;
}

div.details-content ul {
  padding-left: 0px;
  list-style-type: none;
}

div.container ul.related-urls {
  font-size: 0.9em;
  list-style-type: disc;
  padding-left: 15px;
}

div.row ul li {
  list-style-type: none;
}

div.row ul li img {
  margin-right: 10px;
  width: 200px;
  min-height: 100px;
}

article img {
  border-radius: 5px;
  max-width: 100%;
  border: 1px solid #e0e0e0;
}

div.entry-content img {
  border-radius: 5px;
}

div.entry-content {
  text-align: justify;
}

article.list_item {
  width: 100%;
  overflow: hidden;
}

article.list_item div {
  display: inline-block;
  max-width: 490px;
}

article.list_item .thumb {
  max-width: 100%;
}

.index-content article {
    margin-bottom: 40px;
}

div.index-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

div.index-content img {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

div.index-content section.details {
  text-align: left;
}

.index-content aside section {
    margin-top: 40px;
}

aside ul {
  padding-left: 0;
}

/* Responsive video iframe based on
 * https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
 */
.videocontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.videocontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav.event-series {
  margin-bottom: 40px;
}

nav.event-series ul {
  margin-top: -5px;
}

ul.events {
  padding-left: 0;
}

ul.events > li {
  line-height: 30px;
  border-top: 1px solid #d0d0d0;
  padding-left: 10px;
}

ul.events > li > ul {
  border-top: 1px solid #e0e0e0;
  padding-left: 30px;
}

h1 {
  margin-top: 0;
}

.container {
  margin: auto;
}

/* list styles (speakers, events, tags) */
.listNav {
  padding: 5px 0;
  margin-bottom: 5px;
}

.ln-letters a {
  display: inline-block;
  width: calc(100% / 28);
}

@media screen and (max-width: 768px) {
  .ln-letters a {
    width: calc(100% / 14);
  }
  .ln-letters a:nth-child(-n+14) {
    border-bottom: none;
  }
}

#element-list {
  padding-left: 0;
}

#element-list li {
  float: left;
  margin-bottom: 3px;
}

.badge {
  background-color: #ffd343;
  color: #2b5b84;
}

#element-list li .badge {
  float: right;
}

.header__title,
.header__searchbox {
  width: 50%;
  float: left;
  padding: 20px 0;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50px;
  font-size: 40px;
}

.header__title a:hover {
  text-decoration: none;
}

.header__title span {
  font-weight: normal;
  text-transform: lowercase;
}

.header__title i {
  font-weight: bold;
  font-style: italic;
  color: #ffd343;
}

.header__nav a {
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
}

.header__nav a:hover {
  background: #81A7C7 !important;
}

.header__nav li {
  border-top: 5px solid #2B5B84;
  border-radius: 5px 5px 0 0;
  float: left;
  width: 20%;
  box-sizing: border-box;
}

.header__nav li.active a {
  color: #2B5B84;
}

.header__nav li.active {
  background: #FAFAFA;
}

.header__nav ul {
  overflow: hidden;
}

.header.pr-notice {
  background-color: #FED343;
  color: #000;
  font-size: 16px;
  padding: 7px;
  position: relative;
  margin: 0px;
  text-align: center;
}

.header.notice {
  background-color: #FED343;
  color: #000;
  font-size: 16px;
  padding: 7px;
  position: relative;
  margin: 0px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header__nav a {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .header__nav span {
    display: block;
  }
  body > container {
    padding: 0 10px;
  }
  nav ul.container {
    padding: 0;
  }
  .github {
    display: none;
  }

  .header__title,
  .header__searchbox {
    width: 100%;
    text-align: center;
  }

}

/* Google Custom Search Engine - fix here is for conflict with bootstrap */
.gsc-control-cse .gsc-table-result {
	font-family : inherit;
}

.gsc-control-cse .gsc-input-box {
	height : inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
	box-sizing  : content-box;
	line-height : normal;
	margin-top  : 0px;
}
.header__searchbox .gsc-control-cse {
  background: none !important;
  border: none !important;
  padding: 1em 0;
}

.gsc-search-button {
  display: none;
}

.event__description {
  margin-bottom: 20px;
}

.language {
  display: none;
}
