<article class="list_item">
  <div class="thumb">
    <a href="{{ SITEURL }}/{{ article.url }}"
       rel="bookmark"
       title="Permalink to {{ article.title|striptags }}">
      <img class="thumb" src="{{ article.thumbnail_url }}" />
    </a>
  </div>

  <div>
    <a href="{{ SITEURL }}/{{ article.url }}"
       rel="bookmark"
       title="Permalink to {{ article.title|striptags }}">
       {{ article.title }}
    </a>

    <footer class="post-info">
      <time class="published"
            datetime="{{ article.date.isoformat() }}">
        <i class="fa fa-calendar"></i> {{ article.locale_date }}
      </time>
      <nav class="conference">
        From <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      </nav>
      <address class="vcard author">
        By
        {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
      </address>
    </footer>

  </div>
</article>
