{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:title" content="{{ article.title }}" />
  <meta property="og:type" content="video" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  {% if article.thumbnail_url.startswith("http") %}
    <meta property="og:image" content="{{ article.thumbnail_url }}" />
    <meta property="og:image:secure_url" content="{{ article.thumbnail_url.replace("http:", "https:") }}" />
  {% else %}
    <meta property="og:image" content="{{ SITEURL }}{{ article.thumbnail_url }}" />
  {% endif %}
  {% if article.thumbnail_url and article.thumbnail_url.endswith("pg") %}
    <meta property="og:image:type" content="image/jpeg" />
  {% endif %}
  {% if article.media_url %}
    <meta property="og:video:url" content="{{ article.media_url }}" />
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block subtitle %} &middot; {{ article.title }}{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>

  <footer class="post-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      <i class="fa fa-calendar"></i> {{ article.locale_date }}
    </time>
    {% if article.authors %}
    <address class="vcard author">
      By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
  </footer><!-- /.post-info -->

  <div class="entry-content">
    {% include 'article_media.html' %}
    {{ article.content }}
  </div><!-- /.entry-content -->

  {% include 'article_details.html' %}

  <a href="https://github.com/pytube/data/blob/master/{{ article.category.slug }}/videos/{{ article.slug }}.json"><i class="fa fa-pencil-square-o"></i> Improve this page</a>

</section>

{% if article.status == 'draft' %}
<section id="publish">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
        data-target="#publishModal">
  Confirm and Publish
</button>

<!-- Modal -->
<div class="modal fade" id="publishModal" tabindex="-1" role="dialog"
     aria-labelledby="publishModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="publishModalLabel">Publish Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>
          You are about to publish the following item on PyTube.org:
        </p>

        <p>
          <strong>{{ article.title }}</strong>
        </p>

        <p>
          Please note that the publishing process is not immediate and
          can take several minutes.
        </p>

        <p>
          Please click "Publish!" below when you are ready for this media to go live.
        </p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-lg-6">
            <input id="publisher_url" type="hidden" value="{{ PUBLISHER_URL }}">
            <input id="data_file" type="hidden" value="{{ article.data_file }}">
            <input id="publish_key" type="text" class="form-control" placeholder="Publish Key">
          </div>
          <div class="col-lg-6">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="js-publish-btn">Publish!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>

{% endif %}

{% endblock %}

{% if article.status == 'draft' %}
  {% block endbodyjs %}
    {{ super() }}
    <script src="/theme/js/publish.js"></script>
    <script>
    $("ul[role='tablist']").tab();
    </script>
  {% endblock %}
{% endif %}
