<div class="details-content">
  <h3>Details</h3>
  <ul>
      <li>
        Event:
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      </li>
      {% if article.language %}
        <li>Language: {{ article.language }}</li>
      {% endif %}
      {% if article.media_url %}
        <li>
          Media URL: <a href="{{ article.media_url }}">{{ article.media_url }}</a>
        </li>
      {% endif %}
      {% if article.tags %}
        <li>
          Tags:
          {% for tag in article.tags %}
            <a href="/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </li>
      {% endif %}
  </ul>
</div>
