<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/2231f865fc.js"></script>
    <link rel="shortcut icon" href="{{ FEED_DOMAIN }}/theme/images/favicon.png">
    <meta name="google-site-verification" content="cHuieLjiIIDAHKKXSPPDsnbLEz9QgVNTi23qy_mOzDU" />

    <title>{% block title %}{{ SITENAME }}{% endblock %}{% block subtitle %}{% endblock %}</title>

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Event Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Event RSS Feed" />
    {% endif %}
    {% if AUTHOR_FEED_ATOM and author %}
    <link href="{{ FEED_DOMAIN }}/{{ AUTHOR_FEED_ATOM|format(author.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Speaker Atom Feed" />
    {% endif %}
    {% if AUTHOR_FEED_RSS and author %}
    <link href="{{ FEED_DOMAIN }}/{{ AUTHOR_FEED_RSS|format(author.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Speaker RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tag Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tag RSS Feed" />
    {% endif %}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
          crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/theme/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/theme/css/base.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% endblock head %}
</head>

<body>
  {% include 'github.html' %}
  {% if PR_NUMBER %}
    <div class="header pr-notice clearfix">
      Viewing PR <a href="https://github.com/pytube/pytube/pull/{{ PR_NUMBER }}">#{{ PR_NUMBER }}</a>
    </div>
  {% endif %}
  <div class="header notice clearfix">
    Looking for <b>pyvideo.org</b>? It's moved to <b>pytube.org</b>!
    <a href="/pages/domain-change.html">Read More</a>
  </div>
  <header id="banner" class="header clearfix">
    <nav class="header__nav">
      <ul class="nav container">
        <li role="presentation"{% if output_file == "index.html" %} class="active"{% endif %}>
          <a href="{{ SITEURL }}/index.html"><i class="fa fa-fw fa-home"></i> <span>Start</span></a>
        </li>

        <li role="presentation"{% if article or output_file == "events.html" or output_file.startswith("events/") %} class="active"{% endif %}>
          <a href="{{ SITEURL }}/events.html"><i class="fa fa-fw fa-list-ul"></i> <span>Events</span></a>
        </li>

        <li role="presentation"{% if output_file == "tags.html" or output_file.startswith("tag/") %} class="active"{% endif %}>
          <a href="{{ SITEURL }}/tags.html"><i class="fa fa-fw fa-tags"></i> <span>Tags</span></a>
        </li>

        <li role="presentation"{% if output_file == "speakers.html" or output_file.startswith("speaker/") %} class="active"{% endif %}>
          <a href="{{ SITEURL }}/speakers.html"><i class="fa fa-fw fa-users"></i> <span>Speakers</span></a>
        </li>

        {% for p in pages %}
          <li role="presentation"
              {% if p == page %} class="active"{% endif %}
              {% if p.slug =="domain-change" %}style="display: none;"{% endif %}>
            <a href="{{ SITEURL }}/{{ p.url }}"><i class="fa fa-fw fa-info"></i> <span>{{ p.title }}</span></a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="container">
      <h3 class="text-muted header__title">
      <a href="{{ SITEURL }}/"><img src="/theme/images/logo.png" alt="" style="height:50px"> <span><i>Py</i>Tube</span> <strong>{{ SITESUBTITLE }}</strong></a>
      </h3>
      <div class="header__searchbox">
        <gcse:search></gcse:search>
      </div>
    </div>
  </header>
  <div class="container">

    {% block content %}
    {% endblock %}

    <footer class="footer">
      <p>
        &copy; 
        <a href="https://github.com/pytube/pytube/blob/master/LICENSE">PyTube.org</a> | 
        <a href="https://github.com/pytube/data/blob/master/LICENSE">pytube/data</a>
      </p>
    </footer>

    {% block endbodyjs %}
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="/theme/js/ie10-viewport-bug-workaround.js"></script>
      <script>
        (function() {
          var cx = '015807541390881580335:zhcawcwq8uo';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <script src="/theme/js/thumb.js"></script>
      {% include 'analytics.html' %}
    {% endblock endbodyjs %}
</body>
</html>
