{% macro video(article, class="", show_speaker=True, show_event=True, show_thumbnail=True) -%}
  <article class="{{ class }}">
    {% if show_thumbnail %}
        <a href="{{ SITEURL }}/{{ article.url }}">
          <img src="{{ article.thumbnail_url }}" alt="Image from {{ article.title|striptags }}" />
        </a>
    {% endif %}

    <section class="details">
      <h4 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}"
           rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">
           {{ article.title }}
        </a>
      </h4>

      <footer class="post-info">
        <time class="published"
              datetime="{{ article.date.isoformat() }}">
          <i class="fa fa-calendar"></i> {{ article.locale_date }}
        </time>
        {% if show_event %}
        <nav class="conference">
            From <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </nav>
        {% endif %}
        {% if show_speaker %}
        <address class="vcard author">
          By
          {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
        </address>
        {% endif %}
      </footer>
    </section>
  </article>
{%- endmacro %}

{% macro video_list(articles, show_speakers=True, show_events=True, show_thumbnails=True) %}
  <div class="content-list">
    <div class="row">
    {% for article in articles %}
    {{ video(article, class="col-lg-3 col-md-4 col-sm-6", show_speaker=show_speakers, show_event=show_events, show_thumbnail=show_thumbnails) }}
    {% endfor %}
    </div>
  </div>
{% endmacro %}
