{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link href="/theme/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row two-col-snippets">
      <div class="col-lg-12">
        <h3>Latest Talks</h3>
      </div>
    </div>

    <div class="row two-col-snippets">
      <div class="col-lg-12">
        {% for article in articles_page.object_list %}
          <h4 class="entry-title">
            {% include 'article_list_snippet.html' %}
          </h4>

          <footer class="post-info">
            <time class="published" 
                  datetime="{{ article.date.isoformat() }}"> 
              {{ article.locale_date }}
            </time>
            <address class="vcard author">
              By
              {% for author in article.authors %}
                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
              {% endfor %}
            </address>
          </footer>
        {% endfor %}
      </div>
    </div>

{% endblock content %}

