{% extends "base.html" %}

{% block content %}
  <div class="index-content">
    <div class="row">
      <div class="col-lg-6">
        <h3>Latest talks</h3>
        {% for article in articles_page.object_list[:3] %}
          <article>
            <a href="{{ SITEURL }}/{{ article.url }}">
              <img src="{{ article.thumbnail_url }}" alt="Image from {{ article.title|striptags }}" />
            </a>

            <section class="details">
              <h4 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}"
                   rel="bookmark"
                   title="Permalink to {{ article.title|striptags }}">
                   {{ article.title }}
                </a>
              </h4>

              <footer class="post-info">
                <time class="published"
                      datetime="{{ article.date.isoformat() }}">
                  <i class="fa fa-calendar"></i> {{ article.locale_date }}
                </time>
                <nav class="conference">
                    From <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                </nav>
                <address class="vcard author">
                  By
                  {% for author in article.authors %}
                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                  {% endfor %}
                </address>
              </footer>
            </section>
          </article>
        {% endfor %}
      </div>

      <div class="col-lg-6"><aside>
        <p class="info info--stats">Want to find Python related videos? So far
        we have indexed <strong>{{ articles|length }}</strong> of
        those from <strong>{{ categories|length }} events</strong> all over the
        world!</p>
        <section>
            <h3>Latest events</h3>
            <ul>
            {% for category in latest_categories[:5] %}
                <li>
                    <a href="{{ SITEURL }}/{{ category.url }}">{{ category.name }}</a> <span class="badge">{{ category.count }}</span>
                </li>
            {% endfor %}
            </ul>
            <p><a href="{{ SITE_URL }}/events.html">See all events...</a></p>
        </section>
        <section>
            <h3>Most active speakers</h3>
            <ul>
            {% for speaker in active_speakers[:5] %}
                <li><a href="{{ SITEURL }}/{{ speaker.url }}">{{ speaker.name }}</a> <span class="badge">{{ speaker.count }}</span></li>
            {% endfor %}
            </ul>
            <p><a href="{{ SITE_URL }}/speakers.html">See all speakers...</a></p>
        </section>
      </aside></div>
    </div>
  </div>
{% endblock content %}
