{% extends "base.html" %}

{% block content %}
  <h1>Searching for <span id="searchTerm">...</span></h1>
  <div id="searchResultContainer"></div>
{% endblock %}

{% block extrajs %}
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
    <script type="text/javascript">
      var q = new URL(window.location.href).searchParams.get('q');
      if (!q) {
        jQuery('#searchResultContainer').append(jQuery('<p>Please use the search box in the upper right corner to search for something.</p>'));
      } else {
        jQuery('#searchTerm').text(q);
        jQuery('.header__searchbox input').val(q);

        var client = algoliasearch("KVH27M174K", "a04df0aee9426fe0ad90de17e555c00e");
        var index = client.initIndex('pyvideo');

        index.search({ query: q, hitsPerPage: 100}, function searchDone(err, content) {
          if (err) {
            console.error(err);
            return;
          }

          var list = jQuery('<div class="content-list">');
          var row = null;
          content.hits.forEach(function (hit, idx) {
            var speakers = hit['speakers.name'] || [];
            var speakerSlugs = hit['speakers.slug'] || [];
            if (!jQuery.isArray(speakers)) {
              speakers = [speakers];
            }
            if (!jQuery.isArray(speakerSlugs)) {
              speakerSlugs = [speakerSlugs];
            }

            if (idx % 4 === 0) {
              if (row) {
                list.append(row);
              }
              row = jQuery('<div class="row">');
            }
            row.append(jQuery('<article class="col-lg-3 col-md-4 col-sm-6">')
              .append(jQuery('<a>').attr('href', hit.url)
                .append(jQuery('<img>').attr('src', hit.thumbnail_url)))
              .append(jQuery('<section>')
                .append(jQuery('<h4>').attr('class', 'entry-detail').append(jQuery('<a>').attr('href', hit.url).text(hit.title)))
                .append(jQuery('<footer class="post-info">')
                  .append(hit.recorded ? jQuery('<time class="published">').attr('datetime', hit.recorded)
                    .append(jQuery('<i class="fa fa-fw fa-calendar">'))
                    .append(document.createTextNode(' ' + hit.recorded.substring(0, 10)))
                    : null)
                  .append(jQuery('<nav class="conference">').text('From ')
                    .append(jQuery('<a>').attr('href', hit.collection_url).text(hit.collection_title))
                  )
                  .append(speakers.length ? jQuery('<address class="vcard author">').text('By ')
                    .append(speakers.map(function (speaker, idx) {
                      var res = jQuery('<a>').attr('href', '/speaker/' + speakerSlugs[idx] + '.html').text(speaker);
                      if (idx < speakers.length - 1) {
                        res.append(document.createTextNode(', '));
                      }
                      return res;
                    }))
                    : null
                  )
                )
              )
            );
          });
          list.append(row);
          jQuery('#searchResultContainer').empty().append(list);
        });
      }
    </script>
{% endblock extrajs %}
